extends layout

block content
	h1= title
	label
		span="Show All"
		input(type="checkbox" id="uxShowAll")
	label
		span="Play Sound"
		input(type="checkbox" id="uxPlaySound" checked=true)
	each server in SelectedServers
		div(class="container")
			select
				for item in Servers
					option(selected=server.ID == item.ID value=item.ID) #{item.Name}
			ul(class="bossList list-unstyled")
				each boss in Bosses
					li(data-id=boss.Name)
						label= boss.Name
							input(type="checkbox" value=boss.Name)
							span(class="status")="Not Up"
	div(class="clear")
	button(id="refresh")="Refresh"
	div(id="forSound")
	script(src='/javascripts/index.js')